.fondo {
	background-color: white;
}

.titulo {
	margin: 0.1em 0em 0.4em 0.5em;
	color: black;
	text-align: left;
}

.titulo-est {
	color: black;
	text-align: center;
}

.video {
	margin-top: 0em;
	/*  border-style: solid;
	border-width: 10px;
	border-radius: 15px;
	color: #ebff5c; */
}

.caja-controles {
	margin-top: 0.9em;
	margin-left: -1em;
}

.padP {
	margin-left: 0.3em;
}
.padPt{
	margin-left: 0.6em;
}

.padI {
	margin-left: 0.8em;
}

.pad {
	margin-left: 1.5em;
}

.vjs-control-bar {
	font-size: 16px;
	/* color: #ebff5c; */
	background-color: white;
	font-weight: 750;
}

.vjs-tech {
	pointer-events: none;
}

.relieveTexto {
	text-shadow: 2px 2px 5px blue;
}

.imgPuntos {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.relieveCaja {
	box-shadow: 4px 4px 6px blue;
}

.relieveVideo {
	/* box-shadow: 8px 8px 12px black; */
	box-shadow: 0 0 22px black, 0 0 22px black;
}

.estadisticas {
	margin-top: 3.3em;
	margin-right: 2em;
	background-color: #ebff5c;
	/* 	height: 46em; */
}

.container1 {
	justify-content: space-around;
}

.gif {
	width: 100px;
}