.cabecera{
	background-color: #ebff5c;
	
}
.cuerpo{
	background-color: #daffa7;
}
.pie{
	background-color: #daffa7;
}
.enviar{
	box-shadow: 4px 4px 6px blue;
}
.repetir{
	box-shadow: 4px 4px 6px blue;
}
.titulo{
	
}
.fondo {
	background-color: white;
}
.radioBotones {
	margin-left: 15px;
	background-color: #daffa7;
}